$heading-font: 'DM Serif Display', serif;
$primary-font: 'Karla', sans-serif;
$primary-violet:hsl(256, 26%, 20%);
$primary-grayblue: hsl(216, 30%, 68%);

$n-dark-violet: hsl(270, 9%, 17%);
$n-dark-gray-violet:hsl(273, 4%, 51%);
$n-light-gray:  hsl(0, 0%, 98%);
